// Variables
$color-teal: #3b8070;
$color-blue-dk: #35495e;
$color-blue-lt: #526488;

html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
    }

    .button--green {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid $color-teal;
        color: $color-teal;
        text-decoration: none;
        padding: 10px 30px;
        &:hover {
          color: #fff;
          background-color: $color-teal;
        }
    }
    .button--grey {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid $color-blue-dk;
        color: $color-blue-dk;
        text-decoration: none;
        padding: 10px 30px;
        margin-left: 15px;
        &:hover {
          color: #fff;
          background-color: $color-blue-dk;
        }
    }

    .configure-option{
        background: none;
        border: none;
        font-size: 1em;
        color: #ddd;
        &::before{
            content:'{ ';
            color: #777;
        }
        &::after {
          content:' }';
          color: #777;
        }
        &:hover{
            background: #eee;
            color: #ddd;
        }
        &.new{
            color:#41b883;
        }
    }

}



.container {
    margin: 0 auto; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;

    .title {
        font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        display: block;
        font-weight: 300;
        font-size: 4em;
        color: $color-blue-dk;
        letter-spacing: 1px;
    }

    .brand {
      font-weight: bold;
      color: $color-teal;
    }
    
    .subtitle {
        font-weight: 300;
        font-size: 42px;
        color: $color-blue-lt;
        word-spacing: 5px;
        padding-bottom: 15px;
    }

    .links {
        padding-top: 15px;
    }
}